.newComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0e7ff;
    width: 600px;
    height: 200px;
    color: #4338ca;
    border-radius: 5px;
}